.banner-bckg{
    width: 100%;
    background-size: cover;
    height: 400px;
}
.banner-wrapper{
    margin-top: 82px;
}
.banner-title-text{
    padding-top: 139px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}
.banner-title-text-second{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}
.banner-button{
    margin-top: 48px;
    text-align: center;
}
