body, html{
    overflow-x: hidden;
}
body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:active {
    color: unset;
}

a:visited {
    color: unset;
}
a{
    color: unset;
}
.logo-text-bold{
    font-size: 34px;
}

.logo-text-regular{
    font-size: 34px;
}
.logo{
    color: #FFF!important;
    margin-left: 138px;
}
.logo-blue{
    color: #0AAEE4!important;
}