.footer{
    margin-top: 50px;
}
.footer-row{
    display: flex;
    align-items: center;
}
.footer-menu{
    display: flex;
}
ul.footer-menu li:not(:first-child) {
    margin-left: 30px;
}
.logo-wrapper{
    margin-left: 306px;
}
.social-nav{
    display: flex;
    margin-left: 435px;
}

ul.social-nav li:not(:first-child) {
    margin-left: 15px;
}
.copyright{
    margin-top: 20px;
    text-align: center;
}