.film-description{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.title-text{
    color: #FFF;
    font-size: 30px;
    margin-top: 410px;
    text-transform: uppercase;
}
.genres-nav{
    margin-top: 13px;
    display: flex;
    font-size: 12px;
    color: #FFF;
}
ul.genres-nav li:not(:first-child):not(:last-child) {
    margin-left: 10px;
}
.duration{
    margin-left: 10px;
}
.btn-empty, .btn-link{
    margin-left: 15px;
}
.stars-wrapper{
    display: flex;
    align-items: center;
}
.stars{
    color: #0AAEE4;
}
.rating{
    width: 61px;
    height: 37px;
    border: 1px solid #0AAEE4;
    border-radius: 10%;
    color: #fff;
    margin-left: 14px;
}
.film-description-buttons{
    display: flex;
    align-items: center;
    margin-left: 740px;
}
.fa-ellipsis-v{
    cursor: pointer;
    color: #fff;
}