.sort-menu-wrapper{
    display: flex;
    align-items: center;
}
.large-1{
    color: #3BB4E0;
}
.large-2{
    color: #242B2D;
    margin-left: 15px;
}
.options-wrapper{
    display: flex;
    margin-top: 10px;
}
.view-options{
    display: flex;
    margin-top: 20px;
    margin-left: 487px;
}
.each-option{
    color: #0AAEE4;
    font-size: 20px;
}
ul.options-wrapper li:not(:first-child) {
    margin-left: 30px;
}
.each-option{
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
.each-option:hover{
    border-bottom: 2px solid #0AAEE4;
}
.fa-chevron-down{
    color: #0AAEE4;
    margin-top: 17px;
    margin-left: 5px;
}