.moviePicture{
    width: 260px;
    height: 227px;
}
.movie-title{
    color: #242B2D;
    font-size: 18px;
    text-transform: uppercase;
}
.movie-genre{
    color: #47C3F0;
    font-size: 14px;
}
.movie-rating{
    border: 1px solid #47C3F0;
    border-radius: 10%;
}
.movie-card-info{
    display: flex;
    margin-top: 7px;
}
.movie-card-info-rating{
    margin-top: 6px;
    margin-left: 36px;
}