.btn{
    width: 100px;
    padding: 9px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 5px;
}
.btn-primary{
    background-color: #0AAEE4;
}
.btn-link{
    text-decoration: none;
}
.btn-empty{
    border: 1px solid #fff;
}